In [99]:
import pandas as pd

In [100]:
# open elections_with_tracts.xlsx
ewt = pd.read_excel('elections_with_tracts.xlsx')
acs_data = pd.read_csv('tract_acs_data.csv')

/var/folders/52/t8__xqw525g96s6z30kmvnfr0000gp/T/ipykernel_81129/3180015749.py:3: DtypeWarning: Columns (7,20,25,26,27,54,60,70,90,93,102,127,131,142,144,147,150,157,166,176,178,192,214,217,221,226,230,255,257,259,276,279,293,296,302,312,344,355,356,366,418,430,433,436,444,455,463,466,469,473,481,490,499,500,503,510,523,539,554,567,574,579,586,615,622,647,651,652,661,682,698,700,701,731,743,756,761) have mixed types. Specify dtype option on import or set low_memory=False.
  acs_data = pd.read_csv('tract_acs_data.csv')

In [101]:
row = ewt[ewt['filename'] == 'SanLeandro_11062018_CountyCouncilDistrict1.csv']
year = 2018
row

,filename,District #,tracts,percents,num_tracts
18,SanLeandro_11062018_CountyCouncilDistrict1.csv,1,"06_001_410000, 06_001_433104, 06_001_430400, 0...","0.000662315473001776, 0.8697637238945869, 0.00...",10

In [102]:
tracts = row['tracts'].values[0].split(', ')
percents = row['percents'].values[0].split(', ')
percents

['0.000662315473001776',
 '0.8697637238945869',
 '0.0013243275122125852',
 '0.4575513767953343',
 '0.0017520949698166248',
 '0.0054157394023728565',
 '0.017511927909202776',
 '0.98800583489135',
 '0.7884982356472572',
 '0.0022974352431301905']

In [103]:
acs_data['geocode'] = acs_data['geocode'].apply(lambda x: x.strip())
# get rows where geocode is in example_tracts
acs_data = acs_data[acs_data['geocode'].isin(tracts) & (acs_data['year'] == year)]
# get geocode year and DP03_0087E
acs_data

,geocode,year,DP05_0011PE,DP05_0026E,DP02_0047E,DP03_0107E,DP03_0109E,DP03_0097E,DP03_0016E,DP05_0042PE,...,DP05_0017PE,DP02_0055E,DP02_0129E,DP03_0078E,DP02_0069E,DP03_0117PE,DP03_0061PE,DP05_0084PE,DP03_0087E,DP02_0081PE
449,06_001_410000,2018,14.6,1322.0,19,63.0,121.0,2986,189.0,0.0,...,8.3,0,65,0.0,2813,36.8,18.4,0.2,147437.0,5.6
450,06_001_433104,2018,7.1,1454.0,0,206.0,110.0,2471,336.0,0.6,...,0.9,66,22,23.0,3334,61.9,7.0,0.0,82527.0,13.5
451,06_001_430400,2018,21.6,823.0,26,13.0,102.0,1939,322.0,0.0,...,1.4,69,60,0.0,1671,15.7,43.3,0.0,198500.0,3.6
452,06_001_432800,2018,12.1,1607.0,0,166.0,107.0,3172,423.0,0.0,...,8.3,12,9,0.0,3371,19.4,15.8,2.8,152631.0,10.5
453,06_001_433103,2018,14.9,1328.0,0,341.0,114.0,2243,337.0,0.0,...,0.8,55,11,17.0,2947,42.7,2.3,3.1,86794.0,15.8
454,06_001_432501,2018,12.1,1735.0,0,468.0,52.0,3169,584.0,0.1,...,1.9,35,59,34.0,3957,60.2,13.3,3.1,98828.0,5.4
455,06_001_433000,2018,14.2,1379.0,0,154.0,111.0,2455,452.0,0.0,...,3.7,31,0,25.0,2761,48.3,9.7,2.9,108562.0,5.8
456,06_001_432700,2018,15.0,1220.0,38,86.0,164.0,2187,344.0,0.0,...,3.5,27,54,0.0,2367,44.9,28.8,0.0,174329.0,12.3
457,06_001_432600,2018,14.7,2878.0,0,341.0,298.0,4763,531.0,0.4,...,1.9,102,194,113.0,5980,57.7,5.7,0.0,95379.0,14.7
458,06_001_432100,2018,14.4,1375.0,0,111.0,123.0,2990,480.0,0.0,...,1.3,29,49,8.0,2911,24.9,29.9,0.2,173584.0,9.5
2999,06_001_410000,2018,14.6,1322.0,19,63.0,121.0,2986,189.0,0.0,...,8.3,0,65,0.0,2813,36.8,18.4,0.2,147437.0,5.6

In [104]:
# open final_data.csv
final_data = pd.read_csv('final_data.csv')
# get row where filename is 'Minneapolis_11022021_CityCouncilWard12.csv'
row = final_data[final_data['filename'] == 'Minneapolis_11022021_CityCouncilWard12.csv']
# get the columns 'geocode', 'year', 'DP05_0001E'
row = row[['filename', 'DP05_0001E']]
row

                                       filename   DP05_0001E
392  Minneapolis_11022021_CityCouncilWard12.csv  34174.25084